@using System.Collections.Generic;
@using VendorManager.Models;

@{
  Layout = "_Layout";
}

<div class="vendorsList">
  <div class="vendorsTitle">
    <h1>Vendors</h1>
  </div>
  <div class="vendorsAddButton">
    <a href='/vendors/new' class='btn btn-secondary' role='button'>Add Vendor</a>
  </div>
  <div class="separator">
    <hr>
  </div>

  <div class="vendorsContent">
    @if (@Model.Count == 0)
    {
      <div class="vendorItem">
        <h3>No current vendors</h3>
      </div>
    }

    @foreach (Vendor vendor in Model)
    {
      <div class="vendorItem">
        <h5>@vendor.Name</h5>
        <p><a href='/vendors/@vendor.Id'>@vendor.Orders.Count active order(s)</a></p>
      </div>
    }
  </div>
</div>