@{
  Layout = "_Layout";
}

<div class='inputContainer'>
  <h2>Add Vendor</h2>
  <form action='/vendors' method='post'>
    <div>
      <input class='form-control' name='name' id='name' type='text' placeholder='Vendor Name (required)' required>
    </div>
    <div>
      <input class='form-control' name='contactName' id='contactName' type='text' placeholder='Contact Name (required)' required>
    </div>
    <div>
      <input class='form-control' name='contactEmail' id='contactEmail' type='email' placeholder='Contact Email (required)' required>
    </div>
    <div>
      <input class='form-control' name='contactPhone' id='contactPhone' type='text' placeholder='Contact Phone' required>
    </div>
    <div>
      <input class='form-control' name='contactPronouns' id='contactPronouns' type='text' placeholder='Contact Pronouns' required>
    </div>
    <button type='submit' class='btn btn-secondary'>Create Vendor</button>
  </form>
</div>