@{
  Layout = "_Layout";
}

<div class='inputContainer'>
  <h1>Add Order</h1>
  <form action='/vendors/@Model.Id/orders' method='post'>
    <div>
      <input class='form-control' name='title' id='title' type='text' placeholder='Order Title' required>
    </div>
    <div>
      <input class='form-control' name='description' id='description' type='textarea' placeholder='Order Description' required>
    </div>
    <div>
      <input class='form-control' name='deliveryTime' id='deliveryTime' type='datetime-local' placeholder='Delivery Date)' required>
    </div>
    <button type='submit' class='btn btn-secondary'>Create Order</button>
  </form>
</div>