@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>Add Order</h1>
  <form action='/vendors/@Model.Id/orders' method='post'>
    <div class='form-floating'>
      <input class='form-control' name='title' id='title' type='text' placeholder='Order Title' required>
      <label for='title'>Order Title</label>
    </div>
    <div class='form-floating'>
      <input class='form-control' name='description' id='description' type='textarea' placeholder='Order Description' required>
      <label for='description'>Order Description</label>
    </div>
    <div class='form-floating'>
      <input class='form-control' name='deliveryTime' id='deliveryTime' type='datetime-local' placeholder='Delivery Date)' required>
      <label for='deliveryTime'>Delivery Date</label>
    </div>
    <button type='submit' class='btn btn-secondary'>Create Order</button>
  </form>
</div>