<div id='header'>
  <div id='headerTitle'>
    <h1>Corgibyte Vendor Manager</h1>
  </div>
  <div id='homeButton'>
    <a href='/' class='btn btn-secondary' role='button'>Home</a>
  </div>
  <div id='vendorListButton'>
    <a href='/vendors' class='btn btn-secondary' role='button'>Vendors List</a>
  </div>
  <div id="separator">
    <hr>
  </div>
</div>